
:root {
    --color: #fff;
    --color2: #000;
    --color3: #562de9;
}

.testColor {
    color: var(--color2);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background-color: var(--color);
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	background-color: #d6d6d6;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #fffdfd;
}

::-webkit-scrollbar-thumb
{
	background-color: #562de9;
}


header {
    background-color: #562de9;
    height: 50px;
}

header label {
    position: relative;
    font-size: 26px;
    padding-left: 50px;
    top: 7.5px;
    font-family: 'Segoe UI';
}

header label a {
    text-decoration: none;
    color: white;
}

header label a:hover {
    color: #d6d6d6;
}

header label span {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

header ul{
    display: inline-flex;
    position: absolute;
    right: 50px;
    top: -5px;
}

header li{
    list-style: none;
    font-size: 20px;
    margin-right: 10px;
    font-family: 'Segoe UI';
}

header li a{
    color: white;
    text-decoration: none;
}

header li a:hover{
    color: #d6d6d6;
}

header li a span {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.muroMenu{
    border-left: 2px solid white;
    margin-right: 5px;
    width: 5px;
    height: 27px;
    margin-top: 7px;
}















/* Sessão abaixo do Cabeçalho */
.sessao01 {
    position: relative;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 50px;
}

.parte01 {
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 750px;
    background: transparent;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.3);
}

.tituloS1 {
    position: absolute;
    top: 100px;
    right: 30%;
    display: inline-block;
    color: var(--color2);
}

.tituloS1 label {
    font-size: 34px;
    font-weight: 600;
    display: block;
}

.tituloS1 img.web{
    position: absolute;
    width: 300px;
    top: -75px;
    right: -330px;
}

.parte02 {
    border: 2px solid black;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 300px;
    height: 250px;
    box-shadow: 2px 2px 0px white; 
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.4);
}

.parte02 span:nth-child(1){
    position: absolute;
    width: 25px;
    background-color: var(--color);
    top: -2px;
    right: -29px;
    height: 269px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.3);
}

.parte02 span:nth-child(2) {
    position: absolute;
    height: 25px;
    background-color: var(--color);
    left: -2px;
    bottom: -29px;
    width: 329px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.3);
}

.parte02 img {
    width: 300px;
    height: 250px;
}


/* 
                    MODAL CHAMANDO A IMAGEM

    AO CLICAR NA IMAGEM DA FOTO DO DONO DO SITE ABRIRÁ UMA MODAL 
PARA VISUALZAÇÃO DESTA MESMA IMAGEM SÓ QUE MAIOR.

*/
.modal-container {
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.675);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
    }

.modal {
    background: #080808;
    width: 650px;
    min-width: 300px;
    padding: 0px;
    border: 5px solid #6237fc;
    box-shadow: 0 0 0 5px #080808;
    position: relative;
    color: white;
    height: 570px;
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar {
    position: absolute;
    font-size: 1.8em;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #562de9;
    padding-bottom: 6px;
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}

.fechar:hover {
    background-color: white;
    color: #562de9;
    border: 5.5px solid #562de9;
    font-weight: 600;
}

.minhaFotoModal {
    width: 650px;
    height: 570px;
}
























/* 2° Sessão */
.sessao02 {
    position: relative;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 50px;
}

.sessao02 .tituloS2 {
    background-color: var(--color);
}

.sessao02 label {
    color: var(--color3);
    font-size: 26px;
    font-family: 'Segoe UI';
    padding-left: 37%;
}

.sessao02 label span {
    font-weight: 700;
    font-size: 30px;
}

.sessao02 .redes {
    padding-top: 110px;
    background-color: var(--color);
    display: inline-flex;
}



.contatos {
    position: absolute;
    left: -100px;
    padding-top: 25px;
}

.contatos label {
    color: var(--color2);
    font-size: 20px;
    font-weight: 600;
}

.contatos label span {
    font-size: 20px;
    cursor: text;
}

.contatos label a {
    color: var(--color2);
    text-decoration: underline;
    font-size: 20px;
}

.contatos label a:hover {
    color: #562de9;
}



.facebook {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    margin-left: 75px;
}

.facebook .icone {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: -55px;
    top: -10px;
    background-color: blue;
}

.facebook .icone img {
    position: absolute;
    width: 48px;
    border-radius: 50%;
    top: 1px;
    left: 1px;
}

.facebook a {
    color: #3b5998;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.facebook a:hover {
    color: #fff;
}

.facebookTexto {
    border: 2px solid #3b5998;
    padding: 5px 10px;
    border-radius: 4px;
    background: rgb(231, 229, 229);
}

.facebookTexto:hover {
    border: 2px solid #3b5998;
    background-color: #3b5998;
}

.instagram {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    margin-left: 235px;
}

.instagram .icone {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: -55px;
    top: -10px;
    background-color: yellow;
}

.instagram .icone img {
    position: absolute;
    width: 48px;
    border-radius: 50%;
    top: 1px;
    left: 1px;
}

.instagram a {
    color: #C13584;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.instagram a:hover {
    color: #fff;
}

.instagramTexto {
    border: 2px solid #C13584;
    padding: 5px 10px;
    border-radius: 4px;
    background: rgb(231, 229, 229);
}

.instagramTexto:hover {
    background-color: #C13584;
}

.git {
    position: relative;
    top: 0;
    left: 0;
    width: 235px;
    margin-left: 235px;
}

.git .icone {
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: -60px;
    top: -10px;
}

.git .icone img {
    position: absolute;
    width: 48px;
    border-radius: 50%;
    top: 1px;
    left: 1px;
}

.git a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;   
}

.git a:hover {
    color: white;
}

.gitTexto {
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 4px;
    background: rgb(231, 229, 229);
}

.gitTexto:hover {
    background-color: black;
}



















/* SLIDER PARTE 03 */
.parte03 {
    position: relative;
    top: 325px;
    width: 1000px;
    height: 350px;
    background-color: #888;
    border: 2px solid #000;
    margin-left: 85px;
    padding: 15px;
}

.glider.draggable {
    user-select: none;
    cursor: grab;
    height: 300px;
}

.js-carousel--simple-prev {
    position: absolute;
    top: 47%;
    left: -18px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(240, 236, 236);
    border: 2px solid #562de9;

    color: #562de9;
    font-size: 20px;
    font-weight: 600;
}

.js-carousel--simple-prev:hover {
    background-color: #562de9;
    border: 2px solid #562de9;
    color: #fff;
}

.js-carousel--simple-next {
    position: absolute;
    top: 47%;
    right: -18px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(240, 236, 236);
    border: 2px solid #562de9;

    color: #562de9;
    font-size: 20px;
    font-weight: 600;
}

.js-carousel--simple-next:hover {
    background-color: #562de9;
    border: 2px solid #562de9;
    color: #fff;
}

.glider-dot {
    display: block;
    transition: 0.5s;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;

    color: rgb(204, 204, 204);
    background: rgb(204, 204, 204);
    width: 18px;
    height: 18px;
    margin: 10px;
}

.glider-dot:hover {
    background-color: #fff;
}

.glider-dot.active {
    background: #562de9;
}



















/* Botões dos temas do site */
.ThemeColor {
    width: 40px;
    height: 40px;
    border: 4px solid #000;
    background-color: #666;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-container2 {
    width: 200px;
    height: 290px;
    background: rgba(223, 223, 223, 0.675);
    position: fixed;
    bottom: 15px;
    right: 50px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.modal-container2.mostrar2 {
    display: flex;
}

.modal2 {
    background: #fff;
    width: 185px;
    min-width: 185px;
    padding: 2px;
    border: 2px solid #6237fc;
    position: relative;
    color: white;
    height: 275px;
    border-radius: 4px;
}

.mostrar2 .modal2 {
    animation: modal .3s;
}

.fechar2 {
    position: absolute;
    font-size: 1.5em;
    top: -20px;
    right: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #562de9;
    background: #fff;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 22px;
    padding-left: 10px;
    color: #562de9;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.4);
    font-weight: 600;
}

.fechar2:hover {
    background-color: #562de9;
    color: #fff;
}

.R01 {
    height: auto;
    border: 1px solid #000;  
    padding: 2px 6px;
    margin: 3px;
    border-radius: 2px;
}

#divResultado {
    color: #000; 
    font-size: 13px;
    font-weight: 600;
}

.R02 {
    height: auto;
    border: 1px solid #000;  
    padding: 2px 6px;
    margin: 3px;
    margin-top: 18px;
    border-radius: 2px;
}

#divResultado2 {
    color: #000; 
    font-size: 13px;
    font-weight: 600;
}

.msg02 {
    color: #000;
    font-size: 13px;
    font-weight: 600;
}

#btnColor {
    margin-top: 15px;
    border: 1px solid black;
    display: block;
    position: relative;
    left: 100px;
    width: 75px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #333;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 10px;
}

#btnColor span {
    background-color: #000;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 1px;
    padding: 6px 6px;
    position: absolute;
    left: 2px;
}

#btnColor2 {
    margin-top: 15px;
    border: 1px solid black;
    display: block;
    position: relative;
    left: 100px;
    width: 75px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 15px;
}

#btnColor2 span {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 1px;
    padding: 6px 6px;
    position: absolute;
    left: 2px;
}























/* RODAPÉ DO SITE */
footer {
    position: relative;
    background-color: #562de9;
    height: 50px;
    margin-top: 50px;
}

footer ul{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50px;
    top: -2px;
    margin: 0;
    margin-left: 15px;
}

footer li{
    list-style: none;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

footer li a{
    color: white;
    text-decoration: none;
}

footer li a:hover{
    color: #d6d6d6;
}

footer li a span {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.muroMenu2{
    border-left: 2px solid white;
    margin-right: 0px;
    width: 0px;
    height: 27px;
    margin-top: 7px;
}
